@model List<CRUD_MVC_DotNet.Context.tbl_Emp>
@{
    ViewBag.Title = "EmployeeList";
}

<h2>EmployeeList</h2>



<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Department</th>
        <th>Salary</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Department</td>
                    <td>@item.Salary</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Employee", new {item.ID,item.Name,item.Phone,item.Email,item.Address,item.Department,item.Salary})" role="button">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new {item.ID})" role="button">Delete</a>
                    </td>
                </tr>
            }
</table>
<a class="btn btn-dark" href="@Url.Action("Employee")" role="button">Add Employee</a>